<div class="min-h-screen flex items-center justify-center px-4">
  <div class="w-full max-w-md bg-white shadow-xl rounded-xl p-8">
    <div class="text-center mb-6">
      <h1 class="text-2xl font-bold text-gray-800">Créer un compte</h1>
      <p class="text-gray-500 text-sm">Accédez à votre espace Project Manager</p>
    </div>

    <form (ngSubmit)="register()" class="flex flex-col gap-4">
      <div>
        <label class="text-sm font-medium">Email</label>
        <input type="email" [(ngModel)]="email" name="email" required class="w-full mt-1 p-3 border rounded-lg focus:ring-2 focus:ring-blue-500" placeholder="exemple@email.com"/>
      </div>

      <div>
        <label class="text-sm font-medium">Mot de passe</label>
        <input type="password" [(ngModel)]="password" name="password" required class="w-full mt-1 p-3 border rounded-lg focus:ring-2 focus:ring-blue-500" placeholder="********"/>
      </div>

      <button class="w-full bg-slate-600 hover:bg-slate-700 duration-150 text-white p-3 rounded-lg font-medium" [disabled]="loading">
        <span *ngIf="!loading">Créer mon compte</span>
        <span *ngIf="loading">Chargement…</span>
      </button>

      <div class="text-center text-sm mt-2">
        <a class="text-blue-600 hover:underline" routerLink="/auth/login">
          Déjà un compte ? Se connecter
        </a>
      </div>
    </form>
  </div>
</div>
